# Xcode
#
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
build/
DerivedData/
xcuserdata/
xcshareddata/
*.xcscheme
*.xccheckout
*.xcuserstate
*.ipa
*.hmap
*.moved-aside

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Podfile.lock
# Pods/
# node.js
#
node_modules/
npm-debug.log
yarn-error.log